# EditPad Pro files:
# exclude any __history folder and its contents:
__history
# exclude project files:
*.epp

# exclude disk images:
*.d64
*.D64
*.d71
*.D71
*.d81
*.D81

# exclude C64 binaries:
*.prg

# exclude backup files:
*.bak
